<div class="container" *ngIf="Group">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header">
          <h5>{{Group.groupName}}</h5>
          <p style="font-size: 10px;">BY {{Group.userName}}</p>
          <div class="box-button">
            <i class="fa fa-edit" [routerLink]="['/home/editgroup', GroupId]"></i>
            <button class="btn btn-primary" (click)="RouteToExpenseFrom()">Add Expense</button>
            <button class=" btn btn-warning" (click)="displaySettlementFrom()">Settle Up</button>
          </div>
        </div>
        <div class="box-middle" *ngFor="let item of Settlements">
          <i class="fa fa-bitcoin fa-2x"></i>
          <div class="settlement-detail">
            <span class="name">{{item.payeeName}}</span>
            <span> paid</span>
            <span class="name"> {{item.receiverName}}</span>
            <span class="amount"> {{item.amount}} ₹</span>
          </div>
          <i class="delete fa fa-trash fa-2x" (click)="DeleteSettlement(item.id)"></i>
        </div>
        <div class="box-expense" *ngFor="let item of Expenses">
          <span class="box-expense" [routerLink]="['/home/expense',item.id]">
            <div class="dates">
              <p class="month">Oct</p>
              <p class="date">{{item.timeStamp}}</p>
            </div>
            <p class="name">{{item.expenseName}}</p>
            <p class="name">Created By {{item.userName}}</p>
          </span>
          <i class="delete fa fa-edit fa-2x" [routerLink]="['/home/editexpense',item.id]"></i>
          <i class="delete fa fa-trash fa-2x" (click)="DeleteExpense(item.id)"></i>
        </div>
      </div>
      <div class="box-members">
        <div class="box-member-details" *ngFor="let item of MemberWithBalance">
          <i class="fa fa-user-circle fa-2x"></i>
          <div class="member-detail">
            <p class="memberName">{{item.name}}</p>
            <p class="memberAmount" [ngClass]="red" *ngIf="item.amount < 0">{{item.amount}}</p>
            <p class="memberAmount" [ngClass]="green" *ngIf="item.amount > 0">{{item.amount}}</p>
            <p class="memberAmount" *ngIf="item.amount === 0">{{item.amount}}</p>
          </div>
        </div>
        <hr *ngIf="MemberWithBalance">
        <i class="fa fa-plus" (click)="displayMemberFrom()">Add Members</i>
      </div>
    </div>
  </div>
</div>

<div class="FormOverlay" [ngClass]="activateSettlement">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="ElementForm shadow p-3 mb-5 bg-white rounded">
          <div class="header title">
            <i class="fa fa-edit">Add Settlement</i>
            <a class="float-right up" (click)="displaySettlementFrom()"><i class="fa fa-times"></i></a>
            <div class="Editform">
              <hr>
              <form #settlementForm="ngForm" (ngSubmit)="AddSettlement(settlementForm)" ngNativeValidate>
                <div class="Addform">
                  <label for="payUserID">Paid By :-</label>
                  <select id="payUserID" class="form-control" name="payUserID" required ngModel #payUserID="ngModel">
                    <option [value]="item.id" *ngFor="let item of MemberWithBalance">{{item.name}}</option>
                  </select>
                </div>
                <div class="Addform">
                  <label for="payeeUserID">To :-</label>
                  <select id="payeeUserID" class="form-control" name="payeeUserID" required ngModel
                    #payeeUserID="ngModel">
                    <option [value]="item.id" *ngFor="let item of MemberWithBalance">{{item.name}}</option>
                  </select>
                </div>
                <div class="Addform ">
                  <label for="amount">Amount :-</label>
                  <input step="any" type="number" class="form-control" name="amount" placeholder="Enter Amount"
                    id="amount" required ngModel #amount="ngModel">
                </div>
                <div class="buttonform">
                  <button type="submit" class="btn btn-primary">Add</button>
                  <button type="reset" class="btn btn-danger" (click)="displaySettlementFrom()">Cancel</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="FormOverlay" [ngClass]="activateMember">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="ElementForm shadow p-3 mb-5 bg-white rounded">
          <div class="header title">
            <i class="fa fa-edit">Add Member</i>
            <a class="float-right up" (click)="displayMemberFrom()"><i class="fa fa-times"></i></a>
            <div class="Editform">
              <hr>
              <form #memberForm="ngForm" (ngSubmit)="AddMember(memberForm)" ngNativeValidate>
                <p class="text-danger" *ngIf="AddMemberError"> Member Already exist</p>
                <p class="note">Add as friend before adding member</p>
                <div class="Addform">
                  <label for="friend">Friends :-</label>
                  <select id="friend" class="form-control" name="friend" required ngModel #friendId="ngModel">
                    <option [value]="item.id" *ngFor="let item of Friends">{{item.name}}</option>
                  </select>
                </div>
                <div class="Addform" [hidden]="!ShowMemberError">
                  <p>Friend already added</p>
                </div>
                <div class="buttonform">
                  <button type="submit" class="btn btn-primary">Add</button>
                  <button type="reset" class="btn btn-danger" (click)="displayMemberFrom()">Cancel</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
