<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header">
          <h5>Add Group</h5>
        </div>
        <div class="box-middle">
          <form #form="ngForm" (ngSubmit)="SetUpExpense()" ngNativeValidate>


            <div class="Addform">
              <label for="name">Name</label>
              <input class="form-control" type="text" name="name" id="name" [(ngModel)]="ExpenseName" #name="ngModel"
                required>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Amount Paid</th>
                    <th scope="col">Amount owe</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of ExpenseDetails; index as i">
                    <th scope="row">{{i+1}}</th>
                    <td>{{item.userName}}</td>
                    <td>{{item.amountPaid}}</td>
                    <td>{{item.amountOwed}}</td>
                  </tr>
                  <tr>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="buttonform">
              <button type="submit" class="btn btn-primary">Edit</button>
              <button type="reset" class="btn btn-danger" [routerLink]="['/home']">Cancel</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
