<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header">
          <h5>Dashboard</h5>
        </div>
        <div class="header">
          <div class="header-section">
            <h6>You Owe Amount</h6>
            <p>{{AmountOwed * -1}}</p>
          </div>
          <div class="vl"></div>
          <div class="header-section">
            <h6>You Are Owe Amount</h6>
            <p>{{AmountOwe}}</p>
          </div>
          <div class="vl"></div>
          <div class="header-section">
            <h6>Total Balance</h6>
            <p style="color: green;" *ngIf="Balance < 0">{{Balance *-1}}</p>
            <p style="color: red;" *ngIf="Balance > 0">{{Balance}}</p>
            <p *ngIf="Balance === 0">{{Balance}}</p>
          </div>
        </div>
        <div class="friend" *ngFor="let item of filterFriends">
          <i class="fa fa-user fa-2x"></i>
          <div class="friend-detail" style="color: green;" *ngIf="item.amount < 0">
            <span class="name">{{item.name}}</span>
            <span class="amount"> {{item.amount *-1}} ₹</span>
          </div>
          <div class="friend-detail" style="color: red;" *ngIf="item.amount > 0">
            <span class="name">{{item.name}}</span>
            <span class="amount"> {{item.amount}} ₹</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
